/* Estilos para los detalles del producto */
.product-detail {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .product-detail h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .product-detail p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .product-detail strong {
    font-size: 1.5rem;
    color: #ff6f61;
  }
  
  .product-detail img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .product-detail button {
    background-color: #ff6f61;
    color: white;
    padding: 12px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-detail button:hover {
    background-color: #e25748;
  }
  